# Run with:
# time sage run.py -P --slurm -l locations.config config/n128.config

[DEFAULT]

MODULUS_BITS = 128
POLY_DEG = 5
N = 304137846200727043191218881779829950269
# d is used only for a software-simulated signing oracle!
d = 177035462713856040046215951281159413483
e = 67
LPB1 = 14
LPB1_queries = 13
LPB0 = 13
A_sieving = 18
I_sieving = 11
poly.P = 420
poly.admax = 10000
poly.incr = 60
poly.area = 262144000.0
poly.Bf = 4096.0
poly.Bg = 4096.0
sieve.mfb1 = 14
sieve.powlim = 40
las.hwloc_job_binding_policy = auto
alg.loglim0 = 25
desc.mfb0 = 23
desc.mfb1 = 23
MAX_DESCENT_TRIES = 8
MAX_ETHROOT_PRIMES = 2000
START_ETHROOT_PRIMES = 1000
MONTGOMERY_ROOT_PRECISION = 120
bwc.mpi = auto
bwc.thr = auto
bwc.numsols = 1
desc.thr = 22
desc.nprocesses_max = 4
mpi.thr = auto
desc.hintfile=hintfiles/n128.hint
slurm.numjobs = 6
