# Run with:
# time sage run.py -P --slurm --descent-slurm -l locations.config config/n256.config

[DEFAULT]

MODULUS_BITS = 256
POLY_DEG = 5
N = 44381972256420161689173941265882320680652129342310833164679746817541796561451
# d is used only for a software-simulated signing oracle!
d = 18547689898205440705923438140965745955915976220267227435696101457116078444331
e = 67
LPB1 = 18
LPB1_queries = 16
LPB0 = 20
A_sieving = 23
I_sieving = 13
algebraic_query_sieving.adjust_strategy = 2
algebraic_query_sieving.q0_ratio = 7/8
algebraic_todo_sieving.A_max = 23
algebraic_todo_sieving.A_min = 20
extension_todo_sieving.A_max = 23
extension_todo_sieving.A_min = 20
cadopoly = 1
poly.P = 3600
poly.incr = 60
poly.admax = 20000
poly.area = 2e9
poly.Bf = 262144.0
poly.Bg = 1024.0
poly.ropteffort = 3
sieve.mfb1 = 40
sieve.powlim = 80
las.hwloc_job_binding_policy = auto
desc.mfb0 = 40
desc.mfb1 = 40
alg.loglim0 = 26
MAX_DESCENT_TRIES = 40
MAX_ETHROOT_PRIMES = 20000
START_ETHROOT_PRIMES = 13000
MONTGOMERY_ROOT_PRECISION = 106
num_character_columns = 5
bwc.numsols = 1
bwc.mpi = auto
bwc.thr = auto
desc.thr = 16
mpi.thr = auto
desc.hintfile=hintfiles/n256.hint
slurm.numjobs = 6

# Below is for testing functionality,
# and is not necessary for a successful n256 run.
desc.botq.lim = 1048576
desc.botq.maxbits = 16
desc.botq.mfb0 = 80
desc.botq.mfb1 = 100
desc.botq.ncurves0 = 20
desc.botq.ncurves1 = 40
desc.botq.I_sieving = 16
desc.botq.nq = 1000
desc.botq.q0 = 30
