# Run with:
# time sage run.py -M --slurm --descent-slurm --bwc-slurm -l locations.config config/n512.config

[DEFAULT]

MODULUS_BITS = 512
POLY_DEG = 5
N = 6303571096668388543907135877498786600375588844161979327075551069886620229248815527199304883317464389004367047463515306581886865580782694026437601650033149
# d is used only for a software-simulated signing oracle!
d = 2228857790608306265589820402051961211079291397008797274002803682537843516980926368836967699774793912417821003574374267941665195043771084493153851392302253
e = 65537
LPB1 = 24
LPB1_queries = 22
LPB0 = 27
LARGEQ = 90
A_sieving = 24
I_sieving = 15
algebraic_query_sieving.q0_ratio = 9/10
algebraic_query_sieving.adjust_strategy = 2
extension_sieving.B = 14
extension_sieving.A = 21
extension_sieving.lim = 4194304
extension_sieving.mfb = 80
merge.target_density = 100
poly.P = 4800
poly.incr = 60
poly.admax = 12000
poly.area = 2e12
poly.Bf = 131072.0
poly.Bg = 2048.0
poly.ropteffort = 3
algebraic_query_sieving.b = 16
sieve.mfb1 = 80
sieve.powlim = 120
las.hwloc_job_binding_policy = auto
desc.mfb0 = 80
desc.mfb1 = 80
alg.loglim0 = 40
num_character_columns = 5
desc.large_las.numjobs = 12
MAX_DESCENT_TRIES = 60
MAX_ETHROOT_PRIMES = 300000
START_ETHROOT_PRIMES = 150000
MONTGOMERY_ROOT_PRECISION = 400
montgomery.max_norm_bits = 4000
montgomery.cpucount = 22
montgomery.loop_until_nbits = 5000
montgomery.final_nbits = 4000
montgomery.parallel_until_nbits = 80000
bwc.mpi = auto
bwc.thr = auto
bwc.numsols = 10
desc.thr = node*2,fit*4,1,pu,loose
mpi.thr = auto
desc.hintfile=hintfiles/n512.hint2
slurm.numjobs = 24
sieve.numjobs = 12
extension_sieving.numjobs = 48
descent_init.lim = 2147483648
descent_init.lpb = 80
descent_init.mfb = 140
descent_init.I = 16
descent_max_increase_A = 3
descent_max_increase_lpb = 6

# Descent: Bottom-q steps
# -----------------------
desc.botq.lim = 1048576
desc.botq.maxbits = 16
desc.botq.mfb0 = 80
desc.botq.mfb1 = 120
desc.botq.ncurves0 = 20
desc.botq.ncurves1 = 80
desc.botq.I_sieving = 16
desc.botq.nq = 1000
desc.botq.q0 = 30

desc.compq.0.nprimes = 1000
desc.compq.0.lim0 = 16777216
desc.compq.0.lim1 = 16777216
desc.compq.0.mfb0 = 80
desc.compq.0.mfb1 = 120
desc.compq.0.ncurves0 = 20
desc.compq.0.ncurves1 = 100
desc.compq.0.I = 14

desc.compq.1.nprimes = 1000
desc.compq.1.lim0 = 16777216
desc.compq.1.lim1 = 16777216
desc.compq.1.mfb0 = 100
desc.compq.1.mfb1 = 100
desc.compq.1.ncurves0 = 60
desc.compq.1.ncurves1 = 80
desc.compq.1.I = 14
