# Run with:
# time sage run.py -P --slurm -l locations.config config/n60.config

[DEFAULT]

MODULUS_BITS = 60
POLY_DEG = 4
e = 67
N = 1070140407046077937
# d is used only for a software-simulated signing oracle!
d = 702778773417756795
LPB1 = 12
LPB1_queries = 11
LPB0 = 12
A_sieving = 17
I_sieving = 10
algebraic_query_sieving.adjust_strategy = 2
extension_sieving.B = 9
extension_sieving.A = 9
sieve.mfb1 = 15
sieve.powlim = 20
las.hwloc_job_binding_policy = auto
alg.loglim0 = 20
desc.mfb0 = 15
desc.mfb1 = 10
cadopoly = 1
poly.admax = 750
poly.incr = 15
poly.P = 280
poly.area = 262144000.0
poly.Bf = 4096.0
poly.Bg = 4096.0
merge.target_density = 5
MAX_DESCENT_TRIES = 10
MAX_ETHROOT_PRIMES = 10000
START_ETHROOT_PRIMES = 500
MONTGOMERY_ROOT_PRECISION = 53
bwc.mpi = auto
bwc.thr = auto
bwc.numsols = 1
desc.thr = 22
desc.nprocesses_max = 4
mpi.thr = auto
desc.hintfile = hintfiles/n60.hint
slurm.numjobs = 6
