[DEFAULT]

# Global things
# -------------
# Changing any of these means RESTARTING the whole computation!
# -------------
MODULUS_BITS = 768
POLY_DEG = 6
num_character_columns = 6
N = 649736823747955344083152814276438936833582699554577604240664434249853594887583741747129661304937853736622107528473513392127678971987408749423035997273974545870621030782340118580665873028375115510522720590016355521983454712072584991
# d is used only for a software-simulated signing oracle!
d = 221499612679506512313743384295347646775651993125232659931716813250686314859978271176806550389473450542191603619347148583800486246409326172689898151471177301389903676028424219434798577123940675189908322209673564775527961003530980273
e = 65537
LPB1 = 30
LPB1_queries = 26
LPB0 = 31
LARGEQ = 95
LAS_DESCENT_UNTIL_LPB0 = 33
LAS_DESCENT_UNTIL_LPB1 = 33

# Parallelism
# -----------
slurm.numjobs = 90
sieve.numjobs = 240
grdix.nthreads = auto
extension_sieving.numjobs = 1300
desc.thr = node*2,fit*4,1,pu,loose
desc.comp.thr = node,fit,fit,pu,loose
# auto works up to A=32 (and is faster)
las.hwloc_job_binding_policy = auto
# auto fails beyond A=32
las.bigA.hwloc_job_binding_policy = node,fit,fit,pu,loose
las.memory_margin = 60
desc.memory_margin = 80
bwc.mpi = auto
bwc.mpi_slurm = 1x3
bwc.thr = auto
mpi.thr = auto
desc.ecm.ecm_nthreads = 24
desc.large_las.numjobs = 16
desc_ecm_init.numjobs = 240
desc.lq.nthreads = 8

# Polyselect
# ----------
poly.P = 5000000
poly.incr = 1073741824
poly.admax = 68719476736
poly.admin = 1073741824
poly.area = 32768
poly.Bf = 1073741824
poly.Bg = 1073741824
poly.ropteffort = 3
poly.nq = 625
poly.keep = 200

# Post-polyselect
# ---------------
poly.skew = 20342

# Algebraic and extension sieving
# -------------------------------
A_sieving = 32
algebraic_query_sieving.q0_ratio = 86/100
algebraic_query_sieving.adjust_strategy = 2
algebraic_query_sieving.b = 16
extension_sieving.B = 16
extension_sieving.A = 32
extension_sieving.lim = 67108864
extension_sieving.mfb = 135
extension_sieving.adjust_strategy = 2
extension_sieving.never_discard = 0
sieve.mfb1 = 90
sieve.powlim = 128
sieve.bkthresh1 = 30000000
sieve.bkmult = 1.8
merge.target_density = 210
purge.keep = 100

extra_alg.q0 = 53687091
extra_alg.q1 = 57713623

# Descent: las_descent step
# -------------------------
I_sieving = 18
desc.mfb0 = 120
desc.mfb1 = 150
desc.hintfile=hintfiles/n768.hint6
MAX_DESCENT_TRIES = 60
descent_max_increase_A = 1
descent_max_increase_lpb = 6
desc.bkmult = 1.3
desc.bkthresh1 = 268435456
desc.lim = 536870912

# Descent: ECM (init) step
# ------------------------
desc.ecm.q0 = 2147483648
desc.ecm.max_ecm_trials = 50
desc.ecm.nq = 10
desc.ecm.qdiff = 10000000
desc.ecm.tkewness = 2000000000
desc.ecm.lim0 = 2147483648
desc.ecm.lim1 = 2147483648
desc.ecm.lpb0 = 110
desc.ecm.lpb1 = 110
desc.ecm.mfb0 = 300
desc.ecm.mfb1 = 300
desc.ecm.I_sieving = 12
desc.ecm.ncurves0 = 1
desc.ecm.ncurves1 = 1
desc.ecm.ncurves = 600
desc.ecm.B1 = 500000
desc.ecm.cofacB_log = 260
desc.ecm.smoothB_log = 135

# Descent: Large-q step
# ---------------------
desc.lq.lim = 2000000000
desc.lq.maxbits = 16
desc.lq.lpb0 = 80
desc.lq.lpb1 = 90
desc.lq.mfb0 = 120
desc.lq.mfb1 = 300
desc.lq.ncurves0 = 20
desc.lq.ncurves1 = 150
desc.lq.I_sieving = 16
desc.lq.nq = 1000
desc.lq.q0 = 30
desc.lq.skewmin = 0.1

# Descent: Bottom-q steps
# -----------------------
desc.botq.lim = 1073741824
desc.botq.maxbits = 16
desc.botq.mfb0 = 120
desc.botq.mfb1 = 190
desc.botq.ncurves0 = 50
desc.botq.ncurves1 = 110
desc.botq.A_sieving = 33
desc.botq.nq = 1000
desc.botq.q0 = 30
desc.botq.sqside = 1

desc.compq.0.nprimes = 1000
desc.compq.0.lim0 = 2147483648
desc.compq.0.lim1 = 1073741824
desc.compq.0.mfb0 = 120
desc.compq.0.mfb1 = 190
desc.compq.0.ncurves0 = 40
desc.compq.0.ncurves1 = 110
desc.compq.0.A = 33
desc.compq.0.randsize = 16

desc.compq.1.nprimes = 50
desc.compq.1.lim0 = 2147483648
desc.compq.1.lim1 = 1073741824
desc.compq.1.mfb0 = 145
desc.compq.1.mfb1 = 170
desc.compq.1.ncurves0 = 50
desc.compq.1.ncurves1 = 95
desc.compq.1.A = 33
desc.compq.1.randsize = 16

# Linalg
# ------
bwc.numsols = 10

# Root: Montgomery only for n768
# ------------------------------
MONTGOMERY_ROOT_PRECISION = 2000
montgomery.max_norm_bits = 50000
montgomery.loop_until_nbits = 180000
montgomery.final_nbits = 10000
montgomery.cpucount = 10
montgomery.parallel_until_nbits = 2000000
