# Run with:
# time sage run.py -P --slurm -l locations.config config/n90.config

[DEFAULT]

MODULUS_BITS = 90
POLY_DEG = 5
e = 67
N = 697910380295876950506827641
# d is used only for a software-simulated signing oracle!
d = 197914883964487270541780767
LPB1 = 13
LPB1_queries = 12
LPB0 = 12
A_sieving = 18
I_sieving = 11
poly.P = 420
poly.admax = 10000
poly.incr = 60
poly.area = 262144000.0
poly.Bf = 4096.0
poly.Bg = 4096.0
sieve.mfb1 = 14
sieve.powlim = 40
las.hwloc_job_binding_policy = auto
alg.loglim0 = 20
desc.mfb0 = 23
desc.mfb1 = 23
MAX_DESCENT_TRIES = 10
MAX_ETHROOT_PRIMES = 18000
START_ETHROOT_PRIMES = 1000
MONTGOMERY_ROOT_PRECISION = 53
bwc.mpi = auto
bwc.thr = auto
bwc.numsols = 1
desc.thr = 8
mpi.thr = auto
desc.hintfile=hintfiles/n90.hint
slurm.numjobs = 6
